# Redirect old public URL to new Extbase URL, so that emails sent with previous versions still works for a while
# TODO: remove this file entirely in a few months (when previously send emails are old enough)
<IfModule mod_rewrite.c>
	RewriteEngine on

	RewriteCond %{REQUEST_FILENAME}%{PATH_INFO} web/view\.php
	RewriteRule ^(.*)$ /?type=1342671779&tx_newsletter_p[controller]=Email&tx_newsletter_p[action]=show [QSA,L,R,NE]

	RewriteCond %{REQUEST_FILENAME}%{PATH_INFO} web/unsubscribe\.php
	RewriteRule ^(.*)$ /?type=1342671779&tx_newsletter_p[controller]=Email&tx_newsletter_p[action]=unsubscribe [QSA,L,R,NE]

	RewriteCond %{REQUEST_FILENAME}%{PATH_INFO} web/beenthere\.php
	RewriteRule ^(.*)$ /?type=1342671779&tx_newsletter_p[controller]=Email&tx_newsletter_p[action]=opened [QSA,L,R,NE]

	RewriteCond %{REQUEST_FILENAME}%{PATH_INFO} web/click\.php
	RewriteRule ^(.*)$ /?type=1342671779&tx_newsletter_p[controller]=Link&tx_newsletter_p[action]=clicked [QSA,L,R,NE]
</IfModule>
