<label for="email">
	<f:translate key="tx_newsletter_domain_model_bounceaccount.email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="email" /><br />
<label for="server">
	<f:translate key="tx_newsletter_domain_model_bounceaccount.server" />
</label><br />
	<f:form.textbox property="server" /><br />
<label for="protocol">
	<f:translate key="tx_newsletter_domain_model_bounceaccount.protocol" />
</label><br />
	<f:form.textbox property="protocol" /><br />
<label for="username">
	<f:translate key="tx_newsletter_domain_model_bounceaccount.username" />
</label><br />
	<f:form.textbox property="username" /><br />
<label for="password">
	<f:translate key="tx_newsletter_domain_model_bounceaccount.password" />
</label><br />
	<f:form.textbox property="password" /><br />