<table class="tx-newsletter-pi1" >
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_bounceaccount.email" />
		</td>
		<td>
			{bounceAccount.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_bounceaccount.server" />
		</td>
		<td>
			{bounceAccount.server}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_bounceaccount.protocol" />
		</td>
		<td>
			{bounceAccount.protocol}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_bounceaccount.username" />
		</td>
		<td>
			{bounceAccount.username}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_bounceaccount.password" />
		</td>
		<td>
			{bounceAccount.password}
		</td>
	</tr>
</table>