<label for="startTime">
	<f:translate key="tx_newsletter_domain_model_email.start_time" />
</label><br />
	<f:form.textbox property="startTime" /><br />
<label for="endTime">
	<f:translate key="tx_newsletter_domain_model_email.end_time" />
</label><br />
	<f:form.textbox property="endTime" /><br />
<label for="recipientAddress">
	<f:translate key="tx_newsletter_domain_model_email.recipient_address" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="recipientAddress" /><br />
<label for="recipientData">
	<f:translate key="tx_newsletter_domain_model_email.recipient_data" />
</label><br />
	<f:form.textbox property="recipientData" /><br />
<label for="authCode">
	<f:translate key="tx_newsletter_domain_model_email.auth_code" />
</label><br />
	<f:form.textbox property="authCode" /><br />
<label for="opened">
	<f:translate key="tx_newsletter_domain_model_email.opened" />
</label><br />
	<f:form.textbox property="opened" /><br />
<label for="bounced">
	<f:translate key="tx_newsletter_domain_model_email.bounced" />
</label><br />
	<f:form.textbox property="bounced" /><br />
<label for="host">
	<f:translate key="tx_newsletter_domain_model_email.host" />
</label><br />
	<f:form.textbox property="host" /><br />