<table class="tx-newsletter-pi1" >
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_email.start_time" />
		</td>
		<td>
			{email.startTime}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_email.end_time" />
		</td>
		<td>
			{email.endTime}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_email.recipient_address" />
		</td>
		<td>
			{email.recipientAddress}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_email.recipient_data" />
		</td>
		<td>
			{email.recipientData}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_email.auth_code" />
		</td>
		<td>
			{email.authCode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_email.opened" />
		</td>
		<td>
			{email.opened}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_email.bounced" />
		</td>
		<td>
			{email.bounced}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_email.host" />
		</td>
		<td>
			{email.host}
		</td>
	</tr>
</table>