<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings 
in /Configuration/Kickstarter/settings.yaml:
	Resources:
		Private: 
			Templates:
				Create.html:		keep

Otherwise your changes will be overwritten the next time you save the extension in the kickstarter

<f:section name="main">
<h1>New BounceAccount</h1>

<f:flashMessages />

<f:render partial="formErrors" />

<f:form method="post" action="create"  name="newBounceAccount" object="{newBounceAccount}">
<f:render partial="BounceAccount/formFields" />
	<f:form.submit value="Create new" />
</f:form>
</f:section>