<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings 
in /Configuration/Kickstarter/settings.yaml:
	Resources:
		Private: 
			Templates:
				List.html		keep

Otherwise your changes will be overwritten the next time you save the extension in the kickstarter

<f:section name="main">
<h1>Listing for Newsletter</h1>

<f:flashMessages />

<table  class="tx_newsletter" >
	<tr>
		<th><f:translate key="tx_newsletter_domain_model_newsletter.planned_time" /></th>
		<th><f:translate key="tx_newsletter_domain_model_newsletter.begin_time" /></th>
		<th><f:translate key="tx_newsletter_domain_model_newsletter.end_time" /></th>
		<th><f:translate key="tx_newsletter_domain_model_newsletter.tx_newsletter_repeat" /></th>
		<th><f:translate key="tx_newsletter_domain_model_newsletter.plain_converter" /></th>
		<th><f:translate key="tx_newsletter_domain_model_newsletter.is_test" /></th>
		<th><f:translate key="tx_newsletter_domain_model_newsletter.attachments" /></th>
		<th><f:translate key="tx_newsletter_domain_model_newsletter.sender_name" /></th>
		<th><f:translate key="tx_newsletter_domain_model_newsletter.sender_email" /></th>
		<th><f:translate key="tx_newsletter_domain_model_newsletter.inject_open_spy" /></th>
		<th><f:translate key="tx_newsletter_domain_model_newsletter.inject_links_spy" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{newsletters}" as="newsletter">
		<tr>
			<td><f:link.action action="show" arguments="{newsletter : newsletter}"> {newsletter.plannedTime}</f:link.action></td>
			<td><f:link.action action="show" arguments="{newsletter : newsletter}"> {newsletter.beginTime}</f:link.action></td>
			<td><f:link.action action="show" arguments="{newsletter : newsletter}"> {newsletter.endTime}</f:link.action></td>
			<td><f:link.action action="show" arguments="{newsletter : newsletter}"> {newsletter.repeat}</f:link.action></td>
			<td><f:link.action action="show" arguments="{newsletter : newsletter}"> {newsletter.plainConverter}</f:link.action></td>
			<td><f:link.action action="show" arguments="{newsletter : newsletter}"> {newsletter.isTest}</f:link.action></td>
			<td><f:link.action action="show" arguments="{newsletter : newsletter}"> {newsletter.attachments}</f:link.action></td>
			<td><f:link.action action="show" arguments="{newsletter : newsletter}"> {newsletter.senderName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{newsletter : newsletter}"> {newsletter.senderEmail}</f:link.action></td>
			<td><f:link.action action="show" arguments="{newsletter : newsletter}"> {newsletter.injectOpenSpy}</f:link.action></td>
			<td><f:link.action action="show" arguments="{newsletter : newsletter}"> {newsletter.injectLinksSpy}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{newsletter : newsletter}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{newsletter : newsletter}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Newsletter</f:link.action>
</f:section>