/* - - - - - - - - - - - - - - - - - - - - -
Newsletter style

$Id: newsletter.css 48671 2011-06-13 15:13:44Z acrivelli $
- - - - - - - - - - - - - - - - - - - - - */

.t3-newsletter-button-planner {
	background: url(../Icons/tx_newsletter.png) 0 50% no-repeat !important;
	padding-left: 20px !important;
}

.t3-newsletter-button-statistics {
	background: url(../Icons/chart_bar.png) 0 50% no-repeat !important;
	padding-left: 20px !important;
}

#newsletterListMenu {
	margin-bottom: 10px;
}

.t3-newsletter-statistic {
	margin-left: 1em;
	font-size: 120%;
	line-height: normal;
}
.t3-newsletter-statistic-group {
	margin-top: 2em;
	margin-bottom: 1em;
}

.t3-newsletter-statistic .beginTime,
.t3-newsletter-statistic .plannedTime {
	font-weight: bold;
}

.t3-newsletter-statistic .not-sent,
.t3-newsletter-statistic .sent,
.t3-newsletter-statistic .opened,
.t3-newsletter-statistic .bounced
{
	font-weight: bold;
	font-size: 150%;
}

.t3-newsletter-statistic .sent {
	/*color: #83CAFF;*/
	color: #000;
}

.t3-newsletter-statistic .opened {
	color: #078207;
}

.t3-newsletter-statistic .not-opened {
	color: #25CDF2;
}

.t3-newsletter-statistic .bounced {
	color: #E01B4C;
}
