<label for="plannedTime">
	<f:translate key="tx_newsletter_domain_model_newsletter.planned_time" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="plannedTime" /><br />
<label for="beginTime">
	<f:translate key="tx_newsletter_domain_model_newsletter.begin_time" />
</label><br />
	<f:form.textbox property="beginTime" /><br />
<label for="endTime">
	<f:translate key="tx_newsletter_domain_model_newsletter.end_time" />
</label><br />
	<f:form.textbox property="endTime" /><br />
<label for="repeat">
	<f:translate key="tx_newsletter_domain_model_newsletter.tx_newsletter_repeat" />
</label><br />
	<f:form.textbox property="repeat" /><br />
<label for="plainConverter">
	<f:translate key="tx_newsletter_domain_model_newsletter.plain_converter" />
</label><br />
	<f:form.textbox property="plainConverter" /><br />
<label for="isTest">
	<f:translate key="tx_newsletter_domain_model_newsletter.is_test" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="isTest" /><br />
<label for="attachments">
	<f:translate key="tx_newsletter_domain_model_newsletter.attachments" />
</label><br />
	<f:form.textbox property="attachments" /><br />
<label for="senderName">
	<f:translate key="tx_newsletter_domain_model_newsletter.sender_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="senderName" /><br />
<label for="senderEmail">
	<f:translate key="tx_newsletter_domain_model_newsletter.sender_email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="senderEmail" /><br />
<label for="injectOpenSpy">
	<f:translate key="tx_newsletter_domain_model_newsletter.inject_open_spy" />
</label><br />
	<f:form.textbox property="injectOpenSpy" /><br />
<label for="injectLinksSpy">
	<f:translate key="tx_newsletter_domain_model_newsletter.inject_links_spy" />
</label><br />
	<f:form.textbox property="injectLinksSpy" /><br />