<table class="tx-newsletter-pi1" >
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_newsletter.planned_time" />
		</td>
		<td>
			{newsletter.plannedTime}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_newsletter.begin_time" />
		</td>
		<td>
			{newsletter.beginTime}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_newsletter.end_time" />
		</td>
		<td>
			{newsletter.endTime}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_newsletter.tx_newsletter_repeat" />
		</td>
		<td>
			{newsletter.repeat}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_newsletter.plain_converter" />
		</td>
		<td>
			{newsletter.plainConverter}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_newsletter.is_test" />
		</td>
		<td>
			{newsletter.isTest}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_newsletter.attachments" />
		</td>
		<td>
			{newsletter.attachments}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_newsletter.sender_name" />
		</td>
		<td>
			{newsletter.senderName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_newsletter.sender_email" />
		</td>
		<td>
			{newsletter.senderEmail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_newsletter.inject_open_spy" />
		</td>
		<td>
			{newsletter.injectOpenSpy}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_newsletter_domain_model_newsletter.inject_links_spy" />
		</td>
		<td>
			{newsletter.injectLinksSpy}
		</td>
	</tr>
</table>